  body {
    background-color: black;
  }

  #flexbox {
    display: flex;
    justify-content: center;
  }

  #tetris {
    display: block;
    border: 3px solid aliceblue;
  }

  #scoreboard {
    margin: 10px;
    font-size: 18px;
    line-height: 50px;
    width: 150px;
    height: 150px;
    color: whitesmoke;
    text-align: center;
    box-shadow: 0 4px 8px 0 blue;
  }

  #next {
    margin: 10px;
    font-size: 18px;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 8px 0 blue;

    color: whitesmoke;
  }

  #score {
    display: inline-block;
    color: whitesmoke;
  }

  #rowTally {
    display: inline-block;
    color: whitesmoke;
  }

  #highScore {
    display: inline-block;
    color: whitesmoke;
  }